data/lcsv_halo.rda
data/halo/lcsv_halo.rda
outputs/07_cell-size-estimates/df-cellsize_all-samples_sce.rda
outputs/07_cell-size-estimates/df-cellsize_donor-region_sce.rda
outputs/07_cell-size-estimates/df-cellsize_donor-region_scef-k7markers.rda
outputs/07_cell-size-estimates/df-cellsize_donor_sce.rda
outputs/07_cell-size-estimates/df-cellsize_region_sce.rda
outputs/07_cell-size-estimates/df-cellsize_region_scef-k7markers.rda
outputs/07_cell-size-estimates/df-merge-cellsize_halo-sce.rda
outputs/07_cell-size-estimates/dfcor-cellsize_donor_sce.rda
outputs/07_cell-size-estimates/dfcor-cellsize_region_sce.rda
outputs/07_cell-size-estimates/dfcor-cellsize_region_scef-k7markers.rda
*.rda
*.rda
*.pdf
outputs/10_donor-bias-simulations-continued/.Rhistory
outputs/10_donor-bias-simulations-continued/r-nf_deconvolution_intra-sample-bias/data/workflow-table-iter*
outputs/10_donor-bias-simulations-continued/r-nf_deconvolution_inter-sample-bias/data/workflow-table-iter*
outputs/10_donor-bias-simulations-continued/r-nf_deconvolution_inter-sample-bias/rscript/predict-proportions_no-transform.R
outputs/10_donor-bias-simulations-continued/r-nf_deconvolution_intra-sample-bias/rscript/predict-proportions_no-transform.R
outputs/09_manuscript/.Rhistory
outputs/23_replicate-sosina-findings/Strategies-for-cellular-deconvolution-in-human-brain-RNA-sequencing-data/
outputs/23_replicate-sosina2021/env_predict-music.RData
outputs/01_prepare-datasets/rse_gene.Rdata
outputs/01_prepare-datasets/halo-outputs_updated.Rdata
outputs/12_soptimize_yvary-zsame_dlpfc-cohort1/env_yvar_notebook1.RDataTmp
outputs/08_cell-counts-vs-qc-snrnaseq_notebook-scripts_dlpfc-cohort1/mae-pca-3steps_rnascope-nucleus-size-filters_cohort1.RData
*.RData

cohort1\data\inputs\00_preprocess\list-scef_markers-k2-k3-k4_ro1-dlpfc.rda
cohort1\data\inputs\00_preprocess\sce-mrb_dlpfc.rda
cohort1\data\outputs\03_shuffle\01_run-experiment.RData

cohort1/unit_tests/01_mae_summaries.Rmd
cohort1/unit_tests/01_mae_summaries.R
cohort1/.Rhistory
cohort3/notebooks/03_k5/01_02_marker_expression_distributions_files/figure-html/unnamed-chunk-1-1.png
cohort3/notebooks/03_k5/01_02_marker_expression_distributions_files/figure-html/unnamed-chunk-1-2.png
cohort3/notebooks/03_k5/01_02_marker_expression_distributions_files/figure-html/unnamed-chunk-1-3.png
cohort3/notebooks/03_k5/01_02_marker_expression_distributions_files/figure-html/unnamed-chunk-1-4.png
